body {
	margin: 0;
	font-family: tahoma, sans-serif,arial;
}

.main-menu {
	background-color: #34495e;
	width:30%;
	float:left;
}
.main-menu:after {
	content: '';
	clear: both;
	display: block;
}


.main-menu ul {
	margin: 0;
	list-style: none;
}
.main-menu > ul > li {
	margin-right: 30px;
	position: relative;
}
.main-menu ul li a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	padding: 18px 20px;
}


.main-menu ul li:hover a {
	background: #e74c3c;
}
.main-menu ul .anything a {
	background: #e74c3c;
}





/**** sub menu *****/
.main-menu ul ul {
	padding-left: 0;
	position: absolute;
	left: 100%;
	top: 0;
	min-width: 180px;
	display: none;
	z-index: 9999;
}

.main-menu ul li:hover > ul {
	display: block;
}

/**Second Sub menu**/

.main-menu ul ul li:hover a {
	background: #2980b9;
}

.main-menu ul ul li {
	position: relative;
}
.main-menu ul ul ul {
	left: 100%;
	top: 0;
}

.main-menu ul ul ul li:hover a {
	background: #34495E;
}

.main-menu ul ul ul ul {
	left: -100%;
	top: 0;
	z-index: 1;
}

.main-slider{
	float:right;
	overflow: hidden;
	width:70%;
	background: green;
}